{% extends "static/base.html" %}
{% block mainbody %}
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        Demo
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">Demo</a></li>
        <li><a href="#">Demo</a></li>
        <li class="am-active">Demo</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> Demo
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                </div>
            </div>
        </div>
        <!-- <div class="tpl-block "> -->

        <iframe src="http://192.168.218.50:18000" width="100%" height="600px"></iframe>
        <!-- </div> -->

    </div>

</div>
    
{% endblock %}