{% extends "base.html" %}
{% block mainbody %}
<div class="tpl-content-wrapper">
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 定时任务修改
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                </div>
            </div>


        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal" method="POST" action="/project_scheduler/edit">
                        <input type="hidden" name="id" value="{{project_scheduler.id}}">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">任务名称</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-name" name="name" value="{{project_scheduler.name}}"required>
                            </div>
                        </div>

                         <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">项目</label>
                            <div class="am-u-sm-9">
                                <select name="project_id" data-am-selected="{btnSize: 'sm'}">
                                  {% for project in projects %}
                                    {% if project.id|int == project_scheduler.project_id|int %}
                                        <option value="{{project.id}}" selected="selected">{{project.name}}</option>
                                    {% else %}
                                        <option value="{{project.id}}">{{project.name}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">规则</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="rule" value="{{project_scheduler.rule}}" required>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">规则说明</label>
                            <div class="am-u-sm-9">
                                <textarea class="" rows="10" disabled>
规则： 秒 分 时 日 月 周

示例：
       (1)每天10点20分执行
          * 20 10 * * *
       (2)每隔5秒执行一次
          */5 * * * * *
       (3)每周二10点执行
          * * 10 * * 2
                                </textarea>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary" placeholder="12321321">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}