{% extends "base.html" %}
{% block mainbody %}
<!--json格式化依赖的js-->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        用例详情--{{case.case_name}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">用例中心</a></li>
        <li><a href="#">用例管理</a></li>
        <li class="am-active">查看</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 用例查看
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                </div>
            </div>


        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">


                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal">
                       <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">用例名称</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-name" name="case_name" value="{{case.case_name}}" placeholder="用例名称"  disabled="disabled">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="case_detail_label" class="am-u-sm-3 am-form-label">用例描述</label>
                            <div class="am-u-sm-9">
                                <pre id="case_detail_label" style="padding: 5px; background-color: #EEE; border: 2px solid #6495ED;"></pre>
<!--                                 <textarea class="" name="case_detail" rows="5" id="case_detail_label" placeholder="用例描述"  disabled="disabled">{{case.case_detail}}</textarea>-->
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="expect_type_label" class="am-u-sm-3 am-form-label">断言类型</label>
                            <div class="am-u-sm-9">
                                <select name="expect_type" data-am-selected="{btnSize: 'sm'}" disabled="disabled">
                                    {% if case.expect_type == '0' %}
                                    <option value="0" selected="selected">数量</option>
                                    {% else %}
                                     <option value="0">数量</option>
                                    {% endif %}

                                    {% if case.expect_type == '1' %}
                                    <option value="1" selected="selected">范围</option>
                                    {% else %}
                                     <option value="1">范围</option>
                                    {% endif %}

                                    {% if case.expect_type == '2' %}
                                    <option value="2" selected="selected">MD5加密</option>
                                    {% else %}
                                     <option value="2">MD5加密</option>
                                    {% endif %}

                                    {% if case.expect_type == '3' %}
                                    <option value="3" selected="selected">源文件</option>
                                    {% else %}
                                     <option value="3">源文件</option>
                                    {% endif %}

                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="expect_result_label" class="am-u-sm-3 am-form-label">断言结果</label>
                            <div class="am-u-sm-9">
                                <textarea class="" name="expect_result" rows="5" id="expect_result_label" disabled="disabled" placeholder="用例描述" >{{case.expect_result}}</textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-intro" class="am-u-sm-3 am-form-label">备注</label>
                            <div class="am-u-sm-9">
                                <textarea class="" name="remark" rows="5" id="user-intro" placeholder="请输入备注" disabled="disabled">{{case.remark}}</textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    <input id="case_detail" value="{{case.case_detail}}" hidden="hidden">
    </div>
<script type="text/javascript">

    $(document).ready(function(){
        var case_detail = $("#case_detail").val()
        try {
            json = new JSONFormat(case_detail, 4).toString();
            $("#case_detail_label").html(json);
        }catch(e) {
            $("#case_detail_label").html(case_detail);
        }



    });
</script>

</div>
{% endblock %}