{% extends "base.html" %}
{% block mainbody %}
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        用例添加
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">角色中心</a></li>
        <li><a href="#">用例管理</a></li>
        <li class="am-active">添加</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 用例添加
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                </div>
            </div>


        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">


                <div class="am-u-sm-12 am-u-md-9">
                    <form id="add_form" class="am-form am-form-horizontal" method="POST" action="/case/add">
                        <input type="hidden" name="module_id" value="{{module.id}}">
                        <input type="hidden" name="module_name" value="{{module.module_name}}">

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">用例名称</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-name" name="case_name" placeholder="用例名称" required>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="case_detail_label" class="am-u-sm-3 am-form-label">用例描述</label>
                            <div class="am-u-sm-9">
<!--                                <textarea class="" name="case_detail" rows="5" id="case_detail_label" placeholder="用例描述"></textarea>-->
                                <pre id="case_detail_pre" style="padding: 5px; background-color: #EEE; border: 2px solid #6495ED;" hidden="hidden"></pre>
                                <textarea class="" name="case_detail" rows="5" id="case_detail" onblur="change()" placeholder="用例描述"></textarea>

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="expect_type_label" class="am-u-sm-3 am-form-label">断言类型</label>
                            <div class="am-u-sm-9">
                                <select name="expect_type" data-am-selected="{btnSize: 'sm'}">
                                  <option value="0">数量</option>
                                  <option value="1">范围</option>
                                  <option value="2">MD5加密</option>
                                  <option value="3">源文件</option>
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="expect_result_label" class="am-u-sm-3 am-form-label">断言结果</label>
                            <div class="am-u-sm-9">
                                <textarea class="" name="expect_result" rows="5" id="expect_result_label" placeholder="断言结果"></textarea>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-intro" class="am-u-sm-3 am-form-label">备注</label>
                            <div class="am-u-sm-9">
                                <textarea class="" name="remark" rows="5" id="user-intro" placeholder="请输入备注"></textarea>
                            </div>
                        </div>


                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary" onclick="toSumbmit()">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
<script type="text/javascript">

    function change(){
        var case_detail = $("#case_detail").val()
        try {
            json = new JSONFormat(case_detail, 4).toString();
            $("#case_detail_pre").html(json);
            $("#case_detail").hide()
            $("#case_detail_pre").removeAttr("hidden")
        }catch(e) {
<!--            alert($("#case_detail_pre").text())-->
<!--            $("#case_detail_pre").html(case_detail);-->
        }
    }

    function toSumbmit(){
        var case_detail_content = $("#case_detail_pre").text()
        var case_detail_chuli = case_detail_content.replace(/\s*/g,'')
        $("#case_detail").val(case_detail_chuli);
        $("#add_form").submit();
    }

</script>
</div>

{% endblock %}