<style type="text/css" media="screen">
#editor {

width: 1000px;
height: 300px;
}
</style>

{% extends "base.html" %}
{% block mainbody %}
<script src="{{ url_for('static', filename = 'assets/js/dtree.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/ace/ace.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/js/ace/theme-tomorrow_night.js') }}"></script>
<script src="{{ url_for('static', filename = 'assets/css/dtree.css') }}"></script>
<script>
    function test(){
        var sql = editor.getValue();
        window.location.href = "/database/execute_sql?database_id={{database.id}}&sql="+sql
    }
</script>


<div class="tpl-content-wrapper">
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> {{database.database_name}}
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                </div>
            </div>


        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-3">
                    <script type="text/javascript">
<!--                    　　添加一个树节点的方法：-->
<!--                            add(id,pid,name,url,title,target,icon,iconOpen,open);-->
<!--　　                          参数说明：-->
<!--                              1） id               int           节点自身的id(唯一) -->
<!--                              2） pid             int           节点的父节点id -->
<!--                              3） name         string       节点显示在页面上的名称 -->
<!--                              4） url             string       节点的链接地址 -->
<!--                              5） title           string       鼠标放在节点上显示的提示信息 -->
<!--                              6） target        string       节点链接所打开的目标frame -->
<!--                              7） icon           string       节点关闭状态时显示的图标 -->
<!--                              8） iconOpen    string      节点打开状态时显示的图标 -->
<!--                              9） open          boolen     节点第一次加载是否打开 -->
<!--                        7、dtree的方法-->
<!--                        openAll();   //打开所有树节点，在生成树之前或者之后使用。-->
<!--                        例子：tree.openAll();-->
<!--                        closeAll();   //关闭所有树节点，在生成树之前或者之后使用。-->
<!--                        例子：tree.closeAll();-->
<!--                        openTo();   //打开某一个树节点，仅在树生成后使用。-->
<!--                        例子：tree.openTo(3,true) ;-->


                        d = new dTree('d');
                        d.add(0,-1,'{{database.database_name}}');
                        {% for v in return_list %}
                            d.add({{v[0]}},{{v[1]}},'{{v[2]}}')
                        {% endfor %}

                        document.write(d);



                    </script>
                </div>
                <div class="am-u-sm-12 am-u-md-9">

                    <form class="am-form am-form-horizontal" method="POST" action="/database/execute_sql">
                        <div id="editor">{{sql}}</div>
                        <script>
                            <!-- 教程地址： http://events.jianshu.io/p/183ef5ace667-->
                            var editor = ace.edit ("editor");// 这里不需要加 #
                             editor.setTheme ("ace/theme/tomorrow_night");
                             editor.getSession().on ('change', function (e) {
                                $("#sql").value = 123
                            });
                        </script>

                        <button type="button" onclick="test()" class="am-btn am-btn-primary">保存</button>

                    </form>

                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>
                                    {% for title in title_list %}
                                        <th class="table-title">{{title}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>

                                {% for val in value_list %}
                                    <tr>
                                        {% for i in range(val|length) %}
                                            <td>{{val[i]}}</td>
                                        {% endfor %}

                                    </tr>
                                {% endfor %}



                            </tbody>
                        </table>
                        <hr>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}