{% extends "base.html" %}
{% block mainbody %}

<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        模块{{session.get('sign')}}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">模块</a></li>
        <li><a href="#">模块</a></li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-4">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" onclick="window.location.href='/module/to_add'" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                        </div>
                    </div>
                </div>
                
                 
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>
                                    <th class="table-type">序号</th>
                                    <th class="table-type">模块名称</th>
                                    <th class="table-date am-hide-sm-only">用例个数</th>
                                    <th class="table-set">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for module in modules %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{module.module_name}}</td>
                                        <td>{{module.case_count}}</td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-hide-sm-only"><span class="am-icon-eye"></span><a href="/case/list?module_id={{module.id}}">查看用例</a></button>
                                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-hide-sm-only"><span class="am-icon-pencil-square-o"></span><a href="/module/to_edit?id={{module.id}}">编辑</a></button>
<!--                                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-hide-sm-only"><span class="am-icon-eye"></span><a href="/module/delete?id={{module.id}}">删除</a></button>-->

                                                    <button id="aa" onclick="del('{{module.id}}')"
                                                      type="button"
                                                      class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                      ><span class="am-icon-trash-o" ></span>
                                                      <a href="#">删除</a>
                                                    </button>
                                                </div>
                                                <div class="am-modal am-modal-confirm" tabindex="-1" id="s">
                                                  <div class="am-modal-dialog">
                                                    <div class="am-modal-hd">删除模块</div>
                                                    <div class="am-modal-bd">
                                                      你，确定要删除这条记录吗？
                                                    </div>
                                                    <div class="am-modal-footer">
                                                      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                                      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <hr>

                    </form>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>

<script>
    function del(id){
        $('#s').modal({
            onConfirm: function(options) {
              window.location.href = "/module/delete?id="+id
            },
            onCancel: function() {
            }
          });
    }
</script>


{% endblock %}