{% extends "base.html" %}
{% block mainbody %}

<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">项目列表</strong> / <small>Gallery</small></div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" onclick="window.location.href='/project/to_insert'" class="am-btn am-btn-default am-btn-success"><span
                            class="am-icon-plus"></span> 新增
                    </button>
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field">
                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                    type="button"></button>
          </span>
            </div>
        </div>
    </div>


    <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
        {% for project in data%}
        <li>
            <a href="#">
                <img class="am-img-thumbnail am-img-bdrs" src="{{project.img}}" alt="">
                <div class="gallery-title">{{project.name}}</div>
                <div class="gallery-desc">{{project.updated_at}}</div>
            </a>
        </li>
        {% endfor %}
    </ul>


    <div class="am-margin am-cf">
        <hr>
        <p class="am-fl">共 {{total}} 条记录</p>
        <ol class="am-pagination am-fr">
            <li class="am-disabled"><a href="/project/list_ui?page=1">«</a></li>
            {%
                for p in range(1,max_page+1)
            %}
                {% if p == page%}
                    <li class="am-active">
                {%else%}
                    <li>
                {% endif %}
                    <a href="/project/list_ui?page={{p}}">{{p}}</a></li>
            {% endfor %}
            <li><a href="/project/list_ui?page={{max_page}}">»</a></li>
        </ol>
    </div>

</div>


<script>
    function del(id){
        $('#s').modal({
            onConfirm: function(options) {
              window.location.href = "/project/delete?id="+id
            },
            onCancel: function() {
            }
          });
    }



</script>


{% endblock %}