{% extends "base.html" %}
{% block mainbody %}
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        用户详情
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">用户中心</a></li>
        <li><a href="#">用户管理</a></li>
        <li class="am-active">详情</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 用户详情
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                </div>
            </div>


        </div>
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">姓名</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-name" value="{{user.name}}">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-3 am-form-label">电子邮件</label>
                            <div class="am-u-sm-9">
                                <input type="email" id="user-email" value="{{user.email}}">
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">角色</label>
                            <div class="am-u-sm-9">
                                <select name="role" value="1" data-am-selected="{btnSize: 'sm'}">
                                  <option value="0">请输入</option>
                                  {% for role1 in roles %}
                                    {% if user.role == role1.role_code|int %}
                                        <option value="{{role1.role_code}}" selected="selected">{{role1.role_name}}</option>
                                    {% else %}
                                        <option value="{{role1.role_code}}">{{role1.role_name}}</option>
                                    {% endif %}
                                  {% endfor %}

                                </select>
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label for="user-QQ" class="am-u-sm-3 am-form-label">登录名</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{{user.username}}" id="user-QQ" placeholder="jin">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" id="user-weibo" value="{{user.password}}">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}